* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(image/background.avif);
}
.parent{
    position: relative;
    justify-content: space-around;
}
.mainS {
    background-color: rgb(245, 192, 230);
    height: 100px;
    width:100%;
    top: 0;
    left: 0;
    margin-top:15px;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.main1 {
    background-color: rgb(245, 202, 192);
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.main2 {
    background-color: rgb(245, 202, 192);
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.main3 {
    background-color: rgb(245, 202, 192);
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.main4 {
    background-color: rgb(245, 202, 192);
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.main5 {
    background-color: rgb(245, 202, 192);
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.sub1 {
    height: 80px;
    align-items: center;
    background-color: rgb(249, 238, 224);
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}

.sub2 {
    height: 80px;
    align-items: center;
    background-color: rgb(249, 238, 224);
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.b {
    background-color: rgb(245, 202, 192);
    color: rgb(249, 238, 224);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
}
ul{
    list-style: none;
}
.par{
    background-color: rgb(251, 236, 224);
    margin: 20px;
}
